main {
  background-color: #123c6e;
  display: flex;
  flex-direction: column;
  align-items: center;

  .accesoWeb {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 500px;
    height: 400px;
    font-size: 20px;
    background-color: #07264b;
    color: white;
    position: fixed;
    left: 30vw;
    top: 150px;
    border-radius: 8%;

    &.visibleLogin {
      visibility: visible;
    }

    #regresarOSalir{
      position: absolute;
      right: 50px;
      top: 50px;
      border-radius: 4px;
    }
    
    form{
      fieldset {
        width: 100px;
        display: flex;
        flex-direction: column;
        border: none;
        justify-content: center;
        align-items: center;

        legend {
          display: flex;
          width: 200px;
          font-size: 20px;
          margin-bottom: 10px;
          justify-content: center;
        }
        #usuario {
          display: flex;
          flex-direction: column;
          align-items: center;
          input[type="text"] {
            margin: 10px;
            height: 30px;
            width: 200px;
          }
        }
        #claveUsuario {
          display: flex;
          flex-direction: column;
          align-items: center;
          input[type="password"] {
            margin: 10px;
            height: 30px;
            width: 200px;
            margin-bottom: 10px;
          }
        }
        .accesoNegado{
          color: red;
          font-size: 10px;
          visibility: hidden;
          &.alertaAcceso{
            visibility: visible;
          }
        }
        #olvidoDeClave{
          color: #ffffff;
          font-size: 10px;
        }
      }
      button {
        background-color: #efd06d;
        margin-top: 10px;
        color: #ffff;
        border-radius: 2%;
        height: 30px;
        width: 150px;
      }
    }
  }

  #imagenInicial {
    article {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 600px;
        padding: 40px;
      }
    }
  }

  #productosNegocio {
    @include flex(flex, column, center, space-evenly);
    background-color: white;

    h2 {
      color: rgb(138, 138, 138);
      width: 100%;
      @include flex(flex, column, center, center);
      padding: 50px;
    }
    h3 {
      display: inline-block;
      height: 50px;
      color: #123c6e;
      font-weight: bold;
      height: 50px;
    }

    #listaCelulares {
      @include flex(flex, row, center, center);
      flex-wrap: wrap;

      h3 {
        font-size: 30px;
        height: 50px;
      }

      .tarjetas {
        @include flex(flex, column, center, flex-start);
        width: 300px;
        height: 530px;
        padding: 20px;
        margin: 5px;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;

        h3 {
          font-size: 20px;
          height: 50px;
        }

        img {
          width: 200px;
        }

        ul {
          margin-bottom: 20px;
          font-size: 15px;
        }

        p {
          font-size: 15px;
          height: 100px;
        }
        button{
          background-color: #efd06d;
          color: #ffffff;
          width: 120px;
          height: 30px;
          border: none;
          margin: 10px;
          border-radius: 5%
        }
      }
    }
    #listaMonitores {
      @include flex(flex, row, center, center);
      flex-wrap: wrap;
      h3 {
        font-size: 30px;
        height: 50px;
      }
      .tarjetas {
        @include flex(flex, column, center, center);
        width: 500px;
        height: 670px;
        padding: 30px;
        margin: 5px;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;

        h3 {
          font-size: 20px;
          height: 50px;
        }

        img {
          width: 400px;
          height: 300px;
          margin-top: 20px;
          margin-bottom: 30px;
        }

        ul {
          margin-bottom: 30px;
          font-size: 15px;
        }

        p {
          font-size: 20px;
        }
        button{
          background-color: #efd06d;
          color: #ffffff;
          width: 120px;
          height: 30px;
          border: none;
          margin: 10px;
          border-radius: 5%
        }
      }
    }
    #listaAudifonos {
      @include flex(flex, row, center, center);
      flex-wrap: wrap;
      h3 {
        font-size: 30px;
        height: 50px;
      }
      .tarjetas {
        @include flex(flex, column, center, center);
        width: 300px;
        height: 620px;
        padding: 30px;
        margin: 5px;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
          justify-content: space-between;

        h3 {
          font-size: 20px;
          height: 80px;
        }
        img {
          width: 100px;
          height: 150px;
          margin-top: 20px;
          margin-bottom: 30px;
        }

        ul {
          margin-bottom: 30px;
          font-size: 15px;
        }

        p {
          font-size: 18px;
        }
        button{
          background-color: #efd06d;
          color: #ffffff;
          width: 120px;
          min-height: 30px;
          border: none;
          margin: 20px;
          border-radius: 5%
        }
      }
    }
  }
}
