nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .seccionesComercio {
    ul {
      display: flex;
      flex-direction: row;
      padding-right: 140px;

      li {
        padding: 10px;
        a {
          color: white;
        }
      }
    }
  }

  .loginCompra {
    display: flex;
    flex-direction: row;

    ul {
      display: flex;
      flex-direction: row;

      li {
        padding: 10px;
        a {
          color: #eede87;
          cursor: pointer;
          visibility: visible;
          &.off {
            visibility: hidden;
          }
        }
      }
    }
    ul{
      li{ 
        .carritoCompras{
          height: 60px;
          width: 60px;
          background-color: #ffffff;
          border-radius: 50%;
          font-size: 40px;
          position: absolute;
          top: 30px;
          right: 20px;
        }
        div{
          display: flex;

          span{
            background-color: rgb(235, 205, 11);
            color: #ffffff;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            font-weight: bold;
            font-size: 12px;
            position: absolute;
            top: 24px;
            right: 10px;
            padding-left: 8px;
            padding-top: 5px;
          }
        }
      }
    }
  }
}
